<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Kuldip" verbose="1">
    <listeners>
        <listener class-name="com.orangeHRMweek13.customlisteners.CustomListeners"></listener>
        <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Orange HRM">
        <classes>
            <class name="com.orangeHRMweek13.testsuite.LoginPageTest"></class>
            <class name="com.orangeHRMweek13.testsuite.UserTest"></class>
        </classes>
    </test>
</suite>